:root {
  --neutral-0: hsl(200, 60%, 99%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-900: hsl(227, 75%, 14%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: -webkit-linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%);
  --dark-gradient: -webkit-linear-gradient(180deg, #04091b 0%, #091540 100%);

  --spacing-0: 0px;
  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

[data-rm-theme="light"] {
  --bg-color: var(--light-gradient);
  --bg-color-secondary: var(--neutral-0);
  --bg-color-theme-toggle: var(--neutral-100);
  --bg-color-theme-toggle-hover: var(--neutral-300);

  --logo-icon-color: var(--red-400);
  --logo-title-color: var(--neutral-900);
  --logo-header-border: 1px solid var(--neutral-200);
  --logo-header-box-shadow: 0px 2px 3px 0px #d6e2f5;

  --title-color: var(--neutral-900);
}

[data-rm-theme="dark"] {
  --bg-color: var(--dark-gradient);
  --bg-color-secondary: var(--neutral-800);
  --bg-color-theme-toggle: var(--neutral-700);
  --bg-color-theme-toggle-hover: var(--neutral-600);

  --logo-icon-color: var(--red-700);
  --logo-title-color: #fff;
  --logo-header-border: none;
  --logo-header-box-shadow: none;

  --title-color: var(--neutral-0);
}

* {
  margin: 0;
  padding: 0;
}

html {
  --nano-sans: "Noto Sans", sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 700;

  font-family: var(--nano-sans);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-size: 16px;
}

body {
  background: var(--bg-color);
}

h1 {
  color: var(--title-color);
}
